* {
  font-family: "HarmonyOS Sans SC", sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 和 Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}

body {
  margin: 0;
}

pre {
  font-family: monospace;
}

button {
  padding: 0.5rem 0.8rem;
  border: 0px;
  background-color: #2196f3;
  color: white;
  border-radius: 8px;
  font-size: medium;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
  user-select: none;
}

button:hover {
  background-color: #1565c0;
  cursor: pointer;
}

button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 600px;
}

@media (max-width: 640px) {
  .content {
    width: 100%;
  }
}

.gap {
  margin: 1rem;
}

.card {
  padding: 0.8rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}
